# Environment
NODE_ENV=development

# Port number
PORT= 5001

# JWT
JWT_SECRET=thisisasamplesecret
JWT_ACCESS_EXPIRATION_MINUTES=30 
JWT_REFRESH_EXPIRATION_DAYS=30 

# Postgres config
POSTGRES_HOST=rcash-postgresdb
POSTGRES_USERNAME=rcash
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=rcash

#PGAdmin
PGADMIN_EMAIL=admin@thefirm.tech
PGADMIN_PASSWORD=admin

# URL of client application
CLIENT_URL=http://localhost:5001


GAME_API_ZENITH_TOKEN="dGVzdGluZw=="

# Minio
MINIO_ROOT_USER=rcash777
MINIO_ROOT_PASSWORD=password
MINIO_PORT=9001
MINIO_CONSOLE_PORT=8901